

// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-primary-dark-2: #006400;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$hot-cinnamon: #DD5E1D;
$dixie: #DD941D;
$yellow-sea: #FEA904;
$white-rock: #EAE8D4;
$cadmium-green: #097969;
$hunter-green : #355E3B;

// BREAKPOINTS
$bp-hg : 1024px;
$bp-lg : 820px;
$bp-md : 450px;
$bp-sm : 370px;




// FONT
$default-font-size: 1rem;
$h4-font-size: 1.5rem;

// FONT FAMILY
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}




